<p id="notice"><%= notice %></p>

<p>
  <strong>Emis:</strong>
  <%= @record.emis %>
</p>

<p>
  <strong>Centre no:</strong>
  <%= @record.centre_no %>
</p>

<p>
  <strong>Name:</strong>
  <%= @record.name %>
</p>

<p>
  <strong>Wrote 2014:</strong>
  <%= @record.wrote_2014 %>
</p>

<p>
  <strong>Passed 2014:</strong>
  <%= @record.passed_2014 %>
</p>

<p>
  <strong>Wrote 2015:</strong>
  <%= @record.wrote_2015 %>
</p>

<p>
  <strong>Passed 2015:</strong>
  <%= @record.passed_2015 %>
</p>

<p>
  <strong>Wrote 2016:</strong>
  <%= @record.wrote_2016 %>
</p>

<p>
  <strong>Passed 2016:</strong>
  <%= @record.passed_2016 %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
