<!DOCTYPE html>
<html>
  <head>
    <title>Application</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= form_tag(records_path, :method => "get", id: "search-form", class: "navbar-form navbar-right") do %>
    <%= text_field_tag(:search, params[:search], placeholder: "Search") %>
    <%= submit_tag "Search", :name => nil %>
    <% end %>
    <%= yield %>
  </body>
</html>
